  <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><span class="glyphicon glyphicon-font"></span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <span>Dan Font</span>
      </ul>
    </div>
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><span class="glyphicon glyphicon-text-height"></span>&nbsp;<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <span><a data-edit="fontSize 5"><font size="5">Huge</font></a></span>
        <span><a data-edit="fontSize 3"><font size="3">Normal</font></a></span>
        <span><a data-edit="fontSize 1"><font size="1">Small</font></a></span>
      </ul>
    </div>
    <div class="btn-group">
      <a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><span class="glyphicon glyphicon-bold"></span></a>
      <a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><span class="glyphicon glyphicon-italic"></span></a>
      <a class="btn btn-default" data-edit="strikethrough" title="Strikethrough"><span class="glyphicon glyphicon-strikethrough"></span></a>
      <a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><span class="glyphicon glyphicon-text-width"></span></a>
    </div>
    <div class="btn-group">
      <a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><span class="glyphicon glyphicon-list-ul"></span></a>
      <a class="btn btn-default" data-edit="insertorderedlist" title="Number list"><span class="glyphicon glyphicon-list-ol"></span></a>
      <a class="btn btn-default" data-edit="outdent" title="Reduce indent (Shift+Tab)"><span class="glyphicon glyphicon-indent-left"></span></a>
      <a class="btn btn-default" data-edit="indent" title="Indent (Tab)"><span class="glyphicon glyphicon-indent-right"></span></a>
    </div>
    <div class="btn-group">
      <a class="btn btn-default" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><span class="glyphicon glyphicon-align-left"></span></a>
      <a class="btn btn-default" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><span class="glyphicon glyphicon-align-center"></span></a>
      <a class="btn btn-default" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><span class="glyphicon glyphicon-align-right"></span></a>
      <a class="btn btn-default" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><span class="glyphicon glyphicon-align-justify"></span></a>
    </div>
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><span class="glyphicon glyphicon-link"></span></a>
      <div class="dropdown-menu input-append">
        <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
        <button class="btn" type="button">Add</button>
      </div>
      <a class="btn btn-default" data-edit="unlink" title="Remove Hyperlink"><span class="glyphicon glyphicon-cut"></span></a>
    </div>

    <div class="btn-group">
      <a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><span class="glyphicon glyphicon-undo"></span></a>
      <a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><span class="glyphicon glyphicon-repeat"></span></a>
    </div>
  </div>

</div>


